{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "modules": "commonjs" // Ensure modules are transpiled to CommonJS
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic" // Use the automatic JSX runtime
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}

