@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');

body {
  display: flex;
  width: 200px;
  padding: 5px;
  background-color: rgb(28, 28, 28);
}
  
button {
  width: 100%;
  margin: 5px;
  border-radius: 13px;
  border-color: rgb(95, 95, 251);
  border-style: solid;
  font-size: 40px;
  font-family: 'Dhurjati', sans-serif;
  font-weight: 900;
  background-color: rgb(28, 28, 28);
  color: lightblue;
}

button:hover {
  background-color: rgb(52, 51, 51);
}

