.missing-citations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
    margin: 10px auto;
    padding: 10px;
    background-color: #333333; /* slightly lighter than the main background for contrast */
    border-radius: 10px;
    border: 3px solid lightblue;
    color: rgb(180, 0, 0);
}

.citation-title {
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
    color: #222222;
}

.citation-section {
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333333;
    color: #222222;
    border-radius: 10px;
    box-shadow: 0px 1px 15px;
}

.missing-citations h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    align-self: center;
}

.missing-citations label {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    margin-left: 0px;
    font-size: 16px;
    color: lightblue;
    align-self: flex-start;
}

.missing-citations input[type="text"], 
.missing-citations input[type="date"] {
    width: 15vw;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 15px;
    border-radius: 5px;
    border: 2px solid lightblue;
    background-color: #222222;
    color: white;
    font-family: Arial, sans-serif;
    align-self: flex-start;
}

.missing-citations input[type="text"]::placeholder, 
.missing-citations input[type="date"]::placeholder {
    color: #aaa;
}

.formSubmit {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    color: #333333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
    margin: 10px;
}

.formSubmit:hover {
    background-color: rgb(123, 207, 235);
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 800px;
}

.input-error {
    border: 2px solid rgb(180, 0, 0);
}
