@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');

#popup-content {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  background-color: rgb(28, 28, 28);
}

button {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 13px;
  border: solid rgb(95, 95, 251);
  font-size: 40px;
  font-family: 'Dhurjati', sans-serif;
  font-weight: 900;
  background-color: rgb(28, 28, 28);
  color: lightblue;
  cursor: pointer;
}

button:hover {
  background-color: rgb(52, 51, 51);
}
